/* Home.css */

  
  .card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 200px;
    cursor: pointer;
    transition: 0.5s ease-in;
  }
  .card:hover {
    height: 220px;
    box-shadow: 1px 1px 10px blueviolet;
  }
  
  .card-title {
    font-size: 1.25rem;
    color: #333;
  }
  
  .card-text {
    font-size: 0.875rem;
    color: #666;
  }
  
  .offerings {
    background-color: #fff;
  }
  
  .offerings-content img {
    max-width: 100%;
    height: auto;
  }
  